ORACLE_DSN       __ORACLE_DSN__
ORACLE_USER      __ORACLE_USER__
ORACLE_PWD       __ORACLE_PWD__

PG_DSN           __PG_DSN__
PG_USER          __PG_USER__
PG_PWD           __PG_PWD__
PG_SCHEMA        public
PG_VERSION       16

PRESERVE_CASE    0
TYPE             COPY
DATA_LIMIT       50000
LONGREADLEN      1048576
PARALLEL_TABLES  1
JOBS             4
ORACLE_COPIES    4
FILE_PER_TABLE   1
CREATE_SCHEMA    0
DROP_FKEY        0
TRUNCATE_TABLE   1
DISABLE_TRIGGERS 1

NULLIF           ''
